/*********************************************/
/*COLORS*/
/*********************************************/



$color_link: #fff;
$color_link_hover: #fff;


/*********************************************/
/*FONTS*/
/*********************************************/

$SegoeUI: 'Arial', sans-serif;

